name: Test

on: 
  push:

jobs:
  test:
    runs-on: ubuntu-latest
      
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Intall dependencies
        run: |
          pip install pytest
          pytest tests/

          